.clouds {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
    overflow: hidden;
}

@keyframes clouds {
    from {
        transform: translate3d(-10%, 0, 0);
    }

    to {
        transform: translate3d(110%, 0, 0);
    }
}

@mixin clouds($number, $cloud, $duration, $delay, $size, $top) {
    .cloud--#{$number} {
        background-image: url("assets/cloud_0#{$cloud}.svg");
        animation-duration: $duration;
        animation-delay: $delay;
        height: $size;
        top: $top;
    }
}

.cloud {
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    animation: clouds 3s linear infinite;
}

@include clouds(1, 1, 160s, -10s, 25px, 20px);
@include clouds(2, 2, 170s, -160s, 50px, 0);
@include clouds(3, 3, 200s, -0s, 30px, 0);
@include clouds(4, 3, 210s, -50s, 45px, 30px);
@include clouds(5, 2, 250s, -160s, 30px, 0);
@include clouds(6, 1, 160s, -95s, 30px, 15px);
