* {
    box-sizing: border-box;
}

html {
    color: $black;
    font-family: $sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $default;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}

.title {
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    font-size: 3.2rem;
    font-weight: 700;

    @include mq(tablet) {
        font-size: 4.8rem;
    }

    .title__period {
        color: $default;
    }
}

.sub-title {
    text-align: center;
    color: $default;
    font-size: 1.6rem;

    @include mq(tablet) {
        font-size: 1.8rem;
    }
}
