* {
    box-sizing: border-box;
}

html {
    color: $black;
    font-family: $sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $default;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1000px;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $default;
    }
}

.title {
    margin-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    font-size: 3.2rem;
    font-weight: 700;

    @include mq(tablet) {
        font-size: 4.8rem;
    }

    .title__period {
        color: $default;
    }

    &:hover .title__period {
        color: $black;
    }
}

.sub-title {
    text-align: center;
    color: $default;
    font-size: 1.6rem;

    @include mq(tablet) {
        font-size: 1.8rem;
    }
}

main {
    position: relative;

    &:before {
        position: absolute;
        top: 53%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $light-default;
        content: "";
        z-index: 2;

        @include mq(tablet) {
            top: 65%;
        }
    }
}
