.footer {
    background-color: $default;
    padding: 20px 0;
    overflow: auto;
    text-align: center;
    color: $white;
    font-size: 1.6rem;
    line-height: 1.4;

    a {
        color: $light-default;

        &:hover {
            color: $white;
        }
    }
}

.footer__description {
    @include mq(tablet) {
        float: left;
    }
}

.footer__link-list {
    @include mq(tablet) {
        float: right;
        width: 180px;
        text-align: left;
    }

    .footer__link {
        margin: 8px 0;

        @include mq(tablet) {
            margin-top: 0;
        }
    }
}
