.footer {
    background-color: $blue;
    padding: 20px 0;
    overflow: auto;
    text-align: center;
    color: $white;
    font-size: 1.6rem;

    a {
        color: $light-blue;
    }
}

.footer__description {
    float: left;
}

.footer__link-list {
    float: right;
    width: 180px;
    text-align: left;

    .footer__link {
        margin-bottom: 8px;
    }
}
