.home {
    padding: 20px 0;
    background-color: $white;
}

.home__header {
    padding-bottom: 0;
}

.market-list {
    .market-list__item {
        padding: 6px 0;
        font-size: 2.4rem;

        @include mq(tablet) {
            font-size: 3.6rem;
        }
    }
}
