.home {
    position: relative;
    padding: 20px 0 230px;
    background-color: $white;

    &:before {
        top: 88%;
    }

    .skyline {
        background-image: url("assets/home.png");
        bottom: 12%;
    }
}

.home__header {
    padding-bottom: 0;
}

.market-list {
    position: relative;
    z-index: 10;

    .market-list__item {
        padding: 6px 0;
        font-size: 2.4rem;

        @include mq(tablet) {
            font-size: 3.6rem;
        }
    }
}

@keyframes drive {
    0% {
        transform: translateX(-150%) scale(.5);
    }

    100% {
        transform: translateX(250%) scale(.5);
    }
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home__vans {
    position: absolute;
    bottom: 4%;
    z-index: 5;
    width: 100%;
    overflow: hidden;
    height: 265px;
}

.van {
    position: absolute;
    bottom: -100px;
    animation: drive 20s ease-in-out infinite;

    &:nth-of-type(1) {
        animation-delay: -5s;
    }

    &:nth-of-type(2) {
        animation-delay: -8s;
    }

    &:nth-of-type(3) {
        animation-delay: -16s;
    }

    &:nth-of-type(4) {
        animation-delay: -19s;
    }

    &:nth-of-type(5) {
        animation-delay: -16s;
    }

    .wheel {
        transform-origin: 50% 50%;
        animation: wheel 1s linear infinite;
    }

    .menu {
        display: none;
    }
}

.van--luardos,
.van--hanoi-kitchen,
.van--motoyogo, {
    animation-direction: reverse;

    .wheel {
        animation-direction: reverse;
    }
}
