@mixin menu-colour($light, $dark) {
    @at-root {
        body#{&} {
            background-color: $dark;
        }
    }

    .title {
        .title__period {
            color: $dark;
        }
    }

    .sub-title {
        color: $dark;
    }

    .menu {
        &:before {
            background-color: $light;
        }
    }

    .menu-date {
        color: $dark;
    }

    footer {
        background-color: $dark;

        a {
            color: $light;
        }
    }
}

.market--gherkin {
    @include menu-colour($light-gherkin, $gherkin);
}

.market--kings-cross {
    @include menu-colour($light-kings-cross, $kings-cross);

    .menu:after {
        background-image: url("assets/kings-cross.png");
    }
}

.market--paddington {
    @include menu-colour($light-paddington, $paddington);
}

.market--uclu-monthly- {
    @include menu-colour($light-uclu, $uclu);
}
