.menu {
    position: relative;
    background-color: $white;

    @include mq(tablet) {
        padding-top: 140px;
    }

    &:before {
        position: absolute;
        top: 53%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $light-default;
        content: "";
        z-index: 2;

        @include mq(tablet) {
            top: 65%;
        }
    }
}

.menu__skyline {
    position: absolute;
    top: -50%;
    bottom: 35%;
    right: 0;
    left: 0;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: 2000px;
    content: "";
    opacity: .1;
    animation: background .2s ease-out;
}

.menu__date {
    text-align: center;
    color: $default;
    font-size: 1.8rem;
}

.menu__wrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 280px;
    z-index: 5;

    @include mq(tablet) {
        height: 320px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu__list {
    white-space: nowrap;
    text-align: center;
    min-width: 100%;
    position: absolute;
    display: none;

    &.is-visible {
        display: block;
    }

    .menu__list__trader {
        display: inline-block;
        padding: 20px 20px 80px;
        min-width: 180px;
        text-align: center;
        vertical-align: top;
        opacity: 0;
        animation: fade .5s forwards;

        .illustration {
            max-height: 140px;
            margin-bottom: 8px;

            @include mq(tablet) {
                max-height: 180px;
            }
        }

        .title {
            font-size: 2.2rem;

            @include mq(tablet) {
                font-size: 2.6rem;
            }
        }
    }
}

.menu__closed {
    padding-bottom: 20px;
    font-size: 2.6rem;
    animation-delay: 200ms;
    animation: fade .5s forwards;

    @include mq(tablet) {
        padding: 40px 20px;
        font-size: 3.2rem;
    }
}

.toggle-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.toggle {
    position: relative;
    z-index: 5;
    cursor: pointer;
    display: none;

    .market--has-dates & {
        display: block;
    }

    &:not(.is-disabled):hover {
        text-decoration: underline;
    }

    &.is-disabled {
        opacity: .5;
        cursor: default;
    }

    &.toggle--prev {
        float: left;

        .toggle__arrow {
            left: -18px;
            transform: rotate(180deg);
        }
    }

    &.toggle--next {
        float: right;

        .toggle__arrow {
            right: -18px;
        }
    }
}

.toggle__dates-container {
    position: absolute;
    left: 0;
    right: 0;
    top: -.5em;
    height: 2em;
    overflow: hidden;
}

.toggle__dates {
    position: absolute;
    left: 0;
    right: 0;
    top: .5em;
    transition: top .4s;
}

.toggle__date {
    color: $black;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .3s;

    &.is-visible {
        opacity: 1;
    }
}

.toggle__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12px;
    height: 20px;

    @include mq($until: tablet) {
        top: -3px;
    }
}

.toggle__label {
    @include mq($until: tablet) {
        display: none;
    }
}
