.menu {
    position: relative;
    background-color: $white;

    &:before {
        position: absolute;
        top: 53%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $light-default;
        content: "";
        z-index: 2;

        @include mq(tablet) {
            top: 58%;
        }
    }

    &:after {
        position: absolute;
        top: -50%;
        bottom: 42%;
        right: 0;
        left: 0;
        background-repeat: repeat-x;
        background-position: center bottom;
        background-size: 1300px;
        content: "";
        opacity: .1;
    }
}

.menu__date {
    text-align: center;
    color: $default;
    font-size: 1.8rem;
}

.menu__wrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 280px;
    z-index: 5;

    @include mq(tablet) {
        height: 320px;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu__list {
    white-space: nowrap;
    text-align: center;
    min-width: 100%;
    position: absolute;
    display: none;

    &.is-visible {
        display: block;
    }

    .menu__list__trader {
        display: inline-block;
        padding: 20px 20px 80px;
        min-width: 180px;
        text-align: center;
        vertical-align: top;
        opacity: 0;
        animation: fade .5s forwards;

        .illustration {
            max-height: 140px;
            margin-bottom: 8px;

            @include mq(tablet) {
                max-height: 180px;
            }
        }

        .title {
            font-size: 2.2rem;

            @include mq(tablet) {
                font-size: 2.6rem;
            }
        }
    }
}

.menu__closed {
    padding-bottom: 20px;
    font-size: 2.6rem;
    animation-delay: 200ms;
    animation: fade .5s forwards;

    @include mq(tablet) {
        padding: 40px 20px;
        font-size: 3.2rem;
    }
}

.toggle {
    position: relative;
    z-index: 5;
    cursor: pointer;

    &.is-disabled {
        opacity: .5;
    }
}
