<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kerb . In / King's Cross</title>
    <meta name="description" content="Find out what's on Kerb near you">
    <meta name="keywords" content="Kerb, King's Cross, Street Food, Market, Food Market, Burritos">
    <link rel="canonical" href="{{url}}">

    <!-- Styles -->
    <link rel="stylesheet" href="./style.css">

    <!-- Fonts -->
    <script type="text/javascript" src="//use.typekit.net/hpa3kru.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <main class="container">
        <h1 class="title">Kerb In King's Cross</h1>
        <div class="menu">
            {{#date-0}}
            <h3 class="menu__date">for {{date}}</h3>
            <ul class="menu__list">
            {{#traders}}
                <li class="menu__list__trader">
                    <h2 class="menu__list__trader__name">{{standName}}</h2>
                    <span class="menu__list__trader__description">{{description}}</span>
                </li>
            {{/traders}}
            </ul>
            {{/date-0}}
            <div class="menu__tomorrow-list">
                {{#date-1}}
                <h3 class="menu__tomorrow-list__date">{{date}}</h3>
                <p class="menu__tomorrow-list__traders">
                {{#traders}}
                    {{standName}}{{^last}}, {{/last}}
                {{/traders}}
                </p>
                {{/date-1}}
            </div>
        </div>
    </main>

    <!-- GoSquared Analytics -->
    <script>
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
            arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
            d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
            insertBefore(d,q)}(window,document,'script','_gs');
        _gs('GSN-226088-W');
    </script>
</body>
</html>