// Typography
$sans-serif: "brandon-grotesque", sans-serif;

// Colours
$teal: #01908f;
$off-blue: #24414f;
$light-red: #de7667;
$yellow: #ffbb67;
$grey: #668e9a;
$white: #fff;

// Real Colours
$white: #fff;
$black: #222;
$light-blue: #9abdd6;
$blue: #369;
