// Breakpoints
$mq-breakpoints:  (
	mobile: 440px,
	tablet: 768px
);

// Typography
$sans-serif: "brandon-grotesque", sans-serif;

// Colours
$white: #fff;
$black: #222;
$light-default: #efd5c6;
$default: #d65b10;

// Market Specific Colours
$light-kings-cross: #c3dbe6;
$kings-cross: #2690c1;
$light-gherkin: #e9c7c7;
$gherkin: #d12f2f;
$light-paddington: #ede8b4;
$paddington: #e0b711;
$light-uclu: #e4b6e7;
$uclu: #622766;
