* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: $teal;
    color: $light-red;
    font-family: $sans-serif;
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    max-width: 400px;
}

a {
    text-decoration: none;
    color: $yellow;

    &:hover {
        text-decoration: underline;
    }
}

.title {
    margin: 20px 0 12px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 5.6rem;
    font-weight: 700;
}
