.market-list {
    margin: 30px 0 50px;

    .market-list__title {
        text-align: center;
        color: $off-blue;
        font-size: 1.8rem;
    }
    
    .market-list__item {
        margin: 12px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.6rem;
        font-weight: 700;
    }
}
